<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaddChat</title>
</head>
<body>
<h1>Kayıt ol</h1>
<!-- formun verileri signup urlsine gider  -->
<h3>{{ message }}</h3>
 <form method="post" action="/signup"> 
    <label>Kullanıcı adı:</label>
    <input type="text" name="username">
    <br>
    <label>Email:</label>
    <input type="email" name="email">
    <br>
    <label>Parola:</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Kayıt</button>
</form>
</body>
</html>